/* Custom CSS styles */
body {
    font-family: 'Poppins', sans-serif;
}

  .login-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
  }
  .login-container img {
    width: 500px;
    height: 250px;
    margin-bottom: 20px;
    animation: float 3s ease-in-out infinite;
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  input[type="text"], input[type="password"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
  }
  button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #1c1a98;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  button:hover {
    background-color: #45a049;
  }

/* Add any additional custom styles here */
/* Fixed navigation when scrolling to Modul section */
.fixed-scroll {
    position: fixed;
    top: 0;
    width: 100%;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.navbar {
    background: linear-gradient(to right, #000046, #1CB5E0);
}

/* Highlight the active link on hover */
.navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: #fff;
}

/* Highlight the active link */
.navbar-nav .nav-link.active {
    color: white !important;
}

@media (min-width: 992px) {
    section {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

#cardContainer:hover #hoaxModal {
    display: block;
}

.toggle-switch {
    display: flex;
    margin: 20px 0;
}

.toggle-switch button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    flex: 1;
    text-align: center;
}

.toggle-switch button.active {
    background: #007BFF;
    color: #fff;
}

#content-container {
    display: flex;
    overflow: hidden;
}

#powerpoint-content,
#video-content {
    display: none;
    width: 100%;
}

#powerpoint-content iframe,
#video-content iframe {
    width: 100%;
    height: 600px;
    border: none;
}

#powerpoint-content {
    display: flex;
    justify-content: center; /* Pusat horizontal */
    align-items: center; /* Pusat vertikal */
    height: 100vh; /* Gunakan tinggi viewport agar iframe berada di tengah */
}

#powerpoint-content iframe {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

